@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Belanosima&family=Dancing+Script:wght@700&family=Kanit:wght@200&family=Mooli&family=Oswald:wght@300&family=PT+Sans+Narrow&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway&family=Rubik:wght@500&family=Titillium+Web:wght@600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(161, 161, 161);
  background-image: url('./img/Noite.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  color: #000000;
}

.App {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}