@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Belanosima&family=Dancing+Script:wght@700&family=Kanit:wght@200&family=Mooli&family=Oswald:wght@300&family=PT+Sans+Narrow&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway&family=Rubik:wght@500&family=Titillium+Web:wght@600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(161, 161, 161);
  background-image: url('./img/Noite.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  color: #000000;
}

/*Modelagem da lista de tarefas*/

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

/*Outras modificações gerais*/

button {
  background-color: #3a9cd4;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:hover {
  opacity: 1.5;
  scale: 0.9;
  transition: .4s;
}

.complete {
  background-color: rgb(0, 255, 55);
  color: rgb(0, 0, 0);
}

.remove {
  background-color: red;
  color: white;
}

.remove:hover {
  transform: rotate(360deg);
  transition: .5s;
  border-radius: 50%;
}

/*Todo-form*/

.todo-form {
  padding-bottom: 1.5rem;
}

.todo {
  background-color: #fff;
  box-shadow: 0px -1px 10px 0px black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #a6a6a6;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}